/* .hidden { display: none; } */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eeee;
}

section {
  width: 970px;
  height: 98px;
  margin-top: 50px;
  border: solid #050505 2px;
  border-radius: 20px;
}

.forca-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forca {
  margin: 10px;
  fill: transparent;
  stroke: #050505;
  stroke-width: 4px;
  stroke-linecap: round;
}

#word {
  display: flex;
  font-size: 3rem;
}

.letter-container {
  display: inline-block;
  min-height: 4.75rem;
  width: 3rem;
  margin-right: 0.125rem;
  border-bottom: solid black 2px;
  font-size: 4rem;
  font-family: monospace;
  text-align: center;
}

.letter-button {
  background-color: #ccffcc;
  margin: 10px;
  width: 50px;
  font-size: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
  background-color: lightgray;
}

#reset {
  padding: 0.5rem;
  margin-top: 20px;
  min-width: 8rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

#reset:hover {
  background-color: white;
  color: black;
}

#reset:disabled,
#reset:disabled:hover {
  background-color: white;
  color: lightgray;
  cursor: not-allowed;
}

#reset::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  pointer-events: none;
}

#reset:hover::before {
  transform: translateX(100%);
}
