/* .hidden { display: none; } */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eeee;
}

section {
  width: 970px;
  height: 98px;
  margin-top: 50px;
  border: solid #050505 2px;
  border-radius: 20px;
}

.forca-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forca {
  margin: 10px;
  fill: transparent;
  stroke: #050505;
  stroke-width: 4px;
  stroke-linecap: round;
}

#word {
  display: flex;
  font-size: 3rem;
}

.letter-container {
  display: inline-block;
  min-height: 4.75rem;
  width: 3rem;
  margin-right: 0.125rem;
  border-bottom: solid black 2px;
  font-size: 4rem;
  font-family: monospace;
  text-align: center;
}

.letter-button {
  background-color: #ccffcc;
  margin: 10px;
  width: 50px;
  font-size: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
  background-color: lightgray;
}
